.add-post {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    /* max-width: 500px; */
    height: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(172, 172, 172);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-post__image{
    display: flex;
    justify-content: center;
    max-height: 60%
}

.add-post__title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.add-post__form {
    display: flex;
    flex-direction: column;
}

.add-post__label {
    font-size: 16px;
    margin-bottom: 5px;
    border: 3px solid #ccc;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.add-post__label:hover {
    background-color: #0a0a23;
    color: white
}

.add-post__input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    /* width: 400px; */
    text-align: center;
    font-size: large;
}

.add-post__button {
    max-width: 100px;
    font-size: 15px;
    top:50%;
    background-color:#0a0a23;
    color: #fff;
    border:none; 
    border-radius:10px; 
    padding:15px;
    min-height:30px; 
    min-width: 80px;
}


