.card {
    width: 500px;
    max-width: 600px;
    margin-top: 4rem;
    margin-bottom: 2rem;
    padding: 2rem 3rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-profile-heading {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.edit-profile-form {
    margin-top: 2rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.label {
    font-weight: bold;
}

.avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 1rem;
    background-color: lightgray;
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.form-control {
    width: 400px;
    padding: 1rem 1rem;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    font-size: 1.3rem;
}

.btn-primary {
    background-color: #3897f0;
    border-color: #3897f0;
    color: #fff;
    padding: 2px;
    width: 80px;
    border-radius: 1rem;
}

.btn-primary:hover {
    background-color: #2680d0;
    border-color: #2680d0;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.vh-100 {
    height: 100vh;
}