.explore-page {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hashtag-bar {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.hashtag-bar span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    background-color: #eaeaea;
    border-radius: 4px;
    margin-right: 10px;
}

.hashtag-row:hover {
    transform: scale(1.05);
}

.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.image-column {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.image-item {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.image-item:hover {
    transform: scale(1.05);
}

.image-item-likes {
    margin-right: 2.2rem;
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.explore-page {
    margin-bottom: 20px;
}