.main {
    background-color: white;
    height: 100vh;
    color: black;
}

.following-page {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.following-list {
    list-style: none;
    padding: 0;
}

.main-style{
    height: 100vh;
    display:flex;
    justify-content: center;    
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.following-list li {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Changed */
    margin-bottom: 10px;
}

.following-list li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.following-list li span {
    font-size: 16px;
}

.following-list li button {
    font-size: 14px;
    background-color: #f2f2f2;
    color: #000000;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.following-list li button:hover {
    background-color: #444444;
    color: #ffffff;
}