/* Base Styles */

:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/* body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
} */

img {
    display: block;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 10px;
}

.container-profile {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-post {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}

.profile-center {
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/* profile section */

.profile {
    padding: 5rem 0;
    display: flex;
    flex-wrap: wrap;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    margin-right: 3rem;
    
}

.avatar-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.modal-comment-style{
    color: black;
    display: flex;
    justify-content: space-between;
    flex-direction: column ;
    height: 100%;
    position:absolute;
    right: 0;
    width: 25%;
}
/* make profile pic from square to circle */

.profile-image img {
    border-radius: 50%;
    max-width: 250px;
    height: 250px;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}

/* images */

.profile-gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
    justify-content: center ;
}

.gallery-item {
    position: relative;
    flex: 0 0 calc(33.333% - 2rem);
    margin: 1rem;
    color: #fff;
    cursor: pointer;
    display: contents
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info,
.gallery-container:hover .gallery-stuff,
.gallery-container:focus .gallery-stuff {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-container {
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.white-icon {
    color: white;
}

.gallery-stuff {
    position: absolute;
    display: none;
}

.nopost-title{
    margin-top: 25%;
    text-align: center;
    flex-direction: column;
    /* justify-content:center ; */
    grid-column: 2;
}

.nopost-sub-title{
    width: 300px;
    font-size: 1.5rem;
    cursor: pointer;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.icon-style:hover{
    color: #454545;
}

.red-heart:hover{
    transform:scale(1.2);
    transition: transform 0.3s ease-in-out;
}


.gallery-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.ReactModal__Overlay {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}   

/* Spinner Animation */

@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}

@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .profile-gallery {
        display: grid;
        /* grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr)); */
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .profile-gallery {
        width: auto;
        margin: 0;
    }

    /* media */

    @media screen and (max-width: 40rem) {
        .profile {
            padding: 4rem 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
        }

        .profile::after {
            display: none;
        }

        .profile-image {
            width: 100%;
            height: 200px;
            margin-bottom: 1.5rem;
        }

        .profile-user-settings {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            margin-right: 1rem;
        }
    }
}

.instagram-post-actions {
    margin: 10px 0;
}